<section class="vh-100 d-flex align-items-center">
    <div class="container-fluid h-custom" style="height: max-content;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img style="border-radius: 100%;" src="images/fooddelivery.png" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="height: max-content !important;">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="resetPasswordForm.get('user_email')?.invalid && 
            resetPasswordForm.get('user_email')?.touched">
              <strong>Email is required</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <div class="form-outline mb-4">
              <input type="email" id="user_email" class="form-control p-3"
                placeholder="Enter email" formControlName="user_email" />
            </div>

            <!-- Password input -->
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="resetPasswordForm.get('user_password')?.invalid && 
            resetPasswordForm.get('user_password')?.touched">
              <strong>Password is required</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <div class="form-outline mb-3">
              <input type="password" id="user_password" class="form-control p-3" placeholder="Enter new password"
                formControlName="user_password" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>

            <!-- Confirm Password input -->
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="resetPasswordForm.get('confirm_user_password')?.invalid && 
            resetPasswordForm.get('confirm_user_password')?.touched">
              <strong>Confirm password is required</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <div class="form-outline mb-3">
              <input type="password" id="confirm_user_password" class="form-control p-3" placeholder="Confirm new password"
                formControlName="confirm_user_password" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-success py-2 px-3" [disabled]="resetPasswordForm.invalid">Reset Password</button>
              <p class="small fw-bold mt-2 pt-1 mb-0"><a [routerLink]="['/login']"
                  class="link text-decoration-none">Back to Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>