<app-header />
<div class="py-4">
    <h1 class="text-center py-2">All Customers</h1>
    <div class="search-menu d-flex flex-column justify-content-center align-items-center mb-4">
        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterCustomers()" placeholder="Search by customer name" class="status-filter"/>
        <i class="fa-solid fa-magnifying-glass text-secondary"></i>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center" *ngFor="let customer of filteredCustomers"> 
            <app-single-customer [customer]="customer"/>
        </div>
    </div>
</div>
<app-footer />