<div class="container-fluid my-5">
    <div class="row no-gutters h-100">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="images/foodmobile.jpg" alt="EatsExpress App Image" class="app-image img-fluid">
        </div>
        <div class="col-md-6 d-flex flex-column align-items-start justify-content-center p-5" style="width: 40%;">
            <h1>Get the EatsExpress app</h1>
            <p>We will send you a link, open it on your phone to download the app</p>
            <form>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="contact" value="email" checked>Email
                    </label>
                    <label>
                        <input type="radio" name="contact" value="phone">Phone
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <input type="email" placeholder="Email" class="form-control">
                    <button class="btn share-btn">Share App Link</button>
                </div>
            </form>
            <div class="download-links">
                <a href="#" class="google-play">
                    <img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" alt="Google Play">
                </a>
                <a href="#" class="app-store">
                    <img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" alt="App Store">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>